{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Comilón{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!--linkeado de estilos personalizado-->
  <link rel="stylesheet" href="{% static 'css/Style.css' %}">
  <!--linkeado de css Loader-->
  <link rel="stylesheet" href="{% static 'css/styleloader.css' %}">
  

</head>

<body class="hidden" style="height: 100%;
margin: 0;
padding: 0;
overflow-y: auto; ">

  <!-- MENÚ -->
  <div style="text-align: center;">
    <a href="{% url 'Index' %}"><img src="{%static 'img/EL COMILON.png'%}" alt="El comilon" style="width:150px;"></a>
  </div>

  <div style="text-align: right; margin-right: 100px; color: rgb(72, 32, 214);">
    {% if user.is_authenticated %}

    Hola {{ user.username }} &nbsp; &nbsp;<a href="{% url 'cerrar_sesion' %}" style="color: red;">Cerrar sesión</a>

    {% else %}

    <a href="{% url 'logear' %}">Login</a>&nbsp; &nbsp; <a href="{% url 'Autenticacion' %}">Regístrate</a>

    {% endif %}

  </div>



  <!--NAV-VAR-->
  <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin: 0px;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <!-- Elemento de menú: Menus -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Productos' %}">Menus</a>
          </li>
          <!-- Elemento de menú con submenú: Planes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Planes</a>
            <ul class="dropdown-menu">
              <!-- Elemento de submenú: Plan Diario -->
              <li><a class="dropdown-item" href="{% url 'Planes' %}">Plan Diario</a></li>
              <!-- Elemento de submenú: Plan Semanal -->
              <li><a class="dropdown-item" href="{% url 'Planes' %}">Plan Semanal</a></li>
              <!-- Elemento de submenú: Plan Mensual -->
              <li><a class="dropdown-item" href="{% url 'Planes' %}">Plan Mensual</a></li>
            </ul>
          </li>
          <!-- Elemento de menú: Restaurantes -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Restaurantes' %}">Restaurantes</a>
          </li>
          <!-- Elemento de menú: Cuenta -->
          {% if not user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cuenta' %}">Cuenta</a>
          </li>
          {% endif %}
          
          <!-- Elemento de menú con imagen de carrito -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tienda' %}"><img src="{% static 'img/carrito.png' %}" alt="cacerola" style="height: 25px; width: 25px; margin-left: 5px;"></a>
          </li>
          <!-- Botón para abrir el modal del perfil -->
          
          <!-- Elemento de menú: Panel de Administración (Visible solo para admins) -->
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPlatillos' %}">Admin Platillos</a>
        </li>
          {% endif %}
        </ul>
      </div>
  
      <!-- Formulario de búsqueda -->
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Buscar">
        <button class="btn btn-primary" type="button">Buscar</button>
      </form>
    </div>
  </nav>

  <!--MODAL-->
  <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="card">
              <div class="upper">
                <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
              </div>
              <div class="user text-center">
                <div class="profile">
                  <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80">
                </div>
                <h4 class="mb-0">Juan Perez</h4>
                <span class="text-muted d-block mb-2">Plan Semanal</span>
                <button class="btn btn-primary btn-sm follow">Ver perfil</button>
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                  <div class="stats">
                    <h6 class="mb-0">Almuerzos</h6>
                    <span>7</span>
                  </div>
                  <div class="stats">
                    <h6 class="mb-0">Saldo</h6>
                    <span>$14.123</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- Podría usarse un botón para cerrar el modal -->
          <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--CIERRE NAV-VAR-->
  {% block content %}

  {% endblock %}

  <footer
    style="text-align: center; background-color: rgb(26, 26, 26);color: rgb(216, 216, 216);margin: 0px;padding: 10px;">
    <p>PROGRAMACION WEB 2024©</p>
  </footer>
  <script src="{%static 'scripts/jquery.js' %}"> </script>
</body>

</html>