{% extends 'restaurant/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <div style="float:right">
    {% if request.user.is_authenticated %}
     {% include "restaurant/widget.html" %}
    {% else %}
     <div class="alert alert-danger text-center">login para ver carro</div>
    {% endif %} 
  </div>
  <div class="row">
    {% for producto in productos %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
      <div class="card w-100" style="min-height: 350px; display: flex; flex-direction: column; margin: 5px 5px;">
        <img class="card-img-top" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"
          style="height: 200px; object-fit: cover; flex-shrink: 0;">
        <div class="card-body text-center d-flex flex-column justify-content-between" style="flex-grow: 1;">
          <div>
            <h6 class="card-title">{{ producto.nombre }}</h6>
            <p class="card-text">{{ producto.precio }}&nbsp;$ CLP</p>

          </div>
          <div class="card-footer text-center">
          <a href="{% url 'agregar' producto.id %}" class="btn btn-success">agregar al carro</a>  
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Cargar API UBICACION -->
<div id="map" style="height: 500px; width: 100%;"></div>
<script src="{% static 'main.js' %}"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>

<!-- Contenedor de modal -->
<div id="modal-container"></div>

<!-- Importación de jQuery -->
<script src="{% static 'scripts/jquery.js' %}"></script>
<!-- Importación de la función Nav-var -->
<!--<script src="{% static 'scripts/main.js' %}"></script>-->
<!-- Importación de la función loader -->
<script src="{% static 'scripts/codecarga.js' %}"></script>
{% endblock %}