{% extends 'restaurant/base.html'%}

{% block content %}

{% load static %}
  <!-- TÍTULO -->

  <div class="container-fluid" style="background-color: rgb(26, 26, 26); text-align: center;">
    <div class="col" style="color: aliceblue;padding: 40px;">
      <h1 class="h1">Nuestros planes</h1>
      <p class="p"> Puedes seleccionar el plan que necesites y luego el menú según stock</p>
    </div>
  </div>


  <!-- NUESTROS PLANES -->
  <div class="row" style="background-color: rgb(226, 226, 226); padding: 60px;">
    <!-- Tarjeta para el plan diario -->
    <div class="card">
      <img src="{%static 'img/EL COMILON.png'%}" alt="Imagen producto" style="width:100%;">
      <h3>DIARIO</h3>
      <p class="price">$5.990</p>
      <p>Escoge un almuerzo para un día en particular</p>
      <p><button>CONTRATAR</button></p>
    </div>
    <!-- Tarjeta para el plan semanal -->
    <div class="card">
      <img src="{%static 'img/EL COMILON.png'%}" alt="Imagen producto" style="width:100%">
      <h3>SEMANAL</h3>
      <p class="price">$25.990</p>
      <p>Almuerzos para cinco días a la semana</p>
      <p><button>CONTRATAR</button></p>
    </div>
    <!-- Tarjeta para el plan mensual -->
    <div class="card">
      <img src="{%static 'img/EL COMILON.png'%}" alt="Imagen producto" style="width:100%">
      <h3>MENSUAL</h3>
      <p class="price">109.990</p>
      <p>Todo un mes de almuerzos</p>
      <p><button>CONTRATAR</button></p>
    </div>
  </div>
  
   <!-- contenedor de modal  -->
   <div id="modal-container"></div>

{% endblock %}