{% extends 'restaurant/base.html'%}

{% block content %}

{% load static %}

  <!-- TÍTULO -->
  <div class="container-fluid" style="background-color: rgb(26, 26, 26); text-align: center;">
    <div class="col" style="color: aliceblue;padding: 40px;">
      <h1 class="h1">MENUS</h1>
      <p class="p">Almuerzos disponibles</p>
    </div>
  </div>



  <!-- LISTA DE MENÚS -->
  <div class="row" style="background-color: rgb(226, 226, 226); padding: 20px;">
    <!-- Tarjeta de menú 1 -->
    <div class="card2">
      <img src="{% static 'img/burger1.jpg'%}" alt="Burger" style="width:100%;">
      <h3>Hamburguesa simple</h3>
      <p class="price">$5.990</p>
      <p>Acompañada con papas fritas y bebida pequeña</p>
      <p><button>Agregar</button></p>
    </div>
    <!-- Tarjeta de menú 2 -->
    <div class="card2">
      <img src="{%static 'img/pizza.png'%}" alt="Imagen producto" style="width:100%;">
      <h3>Pizza individual</h3>
      <p class="price">$5.990</p>
      <p>Escoge un almuerzo para un día en particular</p>
      <p><button>Agregar</button></p>
    </div>
    <!-- Tarjeta de menú 3 -->
    <div class="card2">
      <img src="{%static 'img/EL COMILON.png'%}" alt="Imagen producto" style="width:100%;">
      <h3>DIARIO</h3>
      <p class="price">$5.990</p>
      <p>Escoge un almuerzo para un día en particular</p>
      <p><button>Agregar</button></p>
    </div>
    <!-- Tarjeta de menú 4 -->
    <div class="card2">
      <img src="{%static 'img/EL COMILON.png'%}" alt="Imagen producto" style="width:100%;">
      <h3>DIARIO</h3>
      <p class="price">$5.990</p>
      <p>Escoge un almuerzo para un día en particular</p>
      <p><button>Agregar</button></p>
    </div>

  </div>
  
   <!-- contenedor de modal  -->
   <div id="modal-container"></div>
{% endblock %}
